*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 7px;
}

#root{
    display: flex;
    justify-content: center;
}

.App {
    width: 500px ;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid green;
    border-radius: 10px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.pages{
   cursor: pointer; 
   color: black;
    border: 3px;
}

.pages_active {
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 3px;
}